@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-default-rgb: 255,255,255;
  --h1-text-default-rgb: 255, 214, 108;
  --background-start-rgb: 48,23,80;
  --background-end-rgb: 0,0,0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
}

h1 {
  color: rgb(var(--h1-text-default-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
